<link rel="stylesheet" href="/css/blog_styles.css">
<%- include ('../partials/header') %>




<div class="">
  <button class=""><a href="/users/blog-new">Create New</a> </button>
</div>

<div class="container">
  <% blogPost.forEach(details => { %>
  <div class="container card mb-4">
    <img src="/media/udemy.jpg" class="img-thumbnail mt-2" alt="...">



    <div class="card-body">
      <h5 class="card-title"> <%= details.title %></h5>
      <p class="card-text card-text-body"><%= details.body %></p>
      <p class="card-text"><small class="text-muted"><%= moment(details.date).format( 'MMM-DD-YYYY') %></small></p>
    </div>
  </div>
  <% }) %>
</div>


<%- include ("../partials/footer") %>