<link rel="stylesheet" href="/css/todo_styles.css">
<%- include ('../partials/header') %>

<div class="center AlertCard">
    <%- include ("../partials/messages") %>
</div>
<div class="center Card mt-5 mb-5">
    <form action="/users/todo" method="POST">
        <div class="input-group input-group-md">
            <input type="text" class="form-control" name="content" placeholder="Add New Todo"
                value="<%= typeof content != 'undefined' ? content : '' %>" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit </button>
            </div>
        </div>
    </form>
</div>




<% todoTasks.forEach(details => { %>
<div class="center Card mb-2">
    <div class="CardInner pt-2 pb-2">
        <div class="container IconDiv">
            <input placeholder="<%= details.content %>">
            <a href="" class="remove">
                <div class="Icon IconComplete btn-secondary">
                    <i class="fas fa-check"></i>
                </div>
            </a>
            <a href="/users/todo/remove/<%= details._id %>" class="remove">
                <div class="Icon IconDelete">
                    <i class="fa fa-trash"></i>
                </div>
            </a>
        </div>
    </div>
</div>
<% }) %>





<%- include ('../partials/footer') %>